---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=PhishTank%20OR%20OpenPhish%20OR%20CertStream-Suspicious&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17c90-c49hKKVkSF48iJ3CzimpQee8Eug"
      X-Proxy-Cache:
      - STALE
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-03-05T22:46:50.822Z",
                "source": "certstream-suspicious",
                "url": "https://ik.about-amazon.preview.amazon-blogs.psdops.com"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 381,
                "encodedDataLength": 641,
                "requests": 1
              },
              "page": {
                "country": "US",
                "server": "Apache",
                "city": "Fairfield",
                "domain": "ik.about-amazon.preview.amazon-blogs.psdops.com",
                "ip": "3.83.126.72",
                "asnname": "AMAZON-AES - Amazon.com, Inc., US",
                "asn": "AS14618",
                "url": "https://ik.about-amazon.preview.amazon-blogs.psdops.com/",
                "ptr": "ec2-3-83-126-72.compute-1.amazonaws.com"
              },
              "uniq_countries": 1,
              "_id": "3e425a96-6203-481d-b104-d708ee36a4f9",
              "result": "https://urlscan.io/api/v1/result/3e425a96-6203-481d-b104-d708ee36a4f9"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-03-05T22:46:50.730Z",
                "source": "certstream-suspicious",
                "url": "https://es.blog.preview.amazon-blogs.psdops.com"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
             [...]
