---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=PhishTank%20OR%20OpenPhish%20OR%20CertStream-Suspicious&size=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26ab-wdRoAkuLwDBNYA5TEvQyGpqPmP8"
      X-Proxy-Cache:
      - STALE
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-03-05T22:43:53.241Z",
                "source": "certstream-suspicious",
                "url": "https://credits101.net"
              },
              "stats": {
                "uniqIPs": 11,
                "consoleMsgs": 3,
                "dataLength": 953615,
                "encodedDataLength": 363107,
                "requests": 24
              },
              "page": {
                "country": "US",
                "server": "Microsoft-IIS/7.5",
                "city": "Scottsdale",
                "domain": "www6.credits101.net",
                "ip": "184.168.221.104",
                "asnname": "AS-26496-GO-DADDY-COM-LLC - GoDaddy.com, LLC, US",
                "asn": "AS26496",
                "url": "http://www6.credits101.net/?&searchbox=1&showDomain=1&tdfs=1",
                "ptr": "ip-184-168-221-104.ip.secureserver.net"
              },
              "uniq_countries": 2,
              "_id": "f257739b-fae0-4331-a223-fb71e90347c5",
              "result": "https://urlscan.io/api/v1/result/f257739b-fae0-4331-a223-fb71e90347c5"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-03-05T22:43:46.202Z",
                "source": "certstream-suspicious",
                "url": "https://creditscored.com"
              },
              "stats": {
                "uniqIPs": 10,
                "consoleMsgs": 3,
                "dataLength": 95430[...]
